{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Mail{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'mail/styles.css' %}">
        <style>
            .read-mail, .unread-mail {
    background-color: #EEEEEE;
    border-color: #777777;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 2px;
    padding: 12px;
  }

  .read-mail .timestamp, .unread-mail .timestamp {
    float: right;
    text-align: right;
  }
  
  .read-mail:hover, .unread-mail:hover {
    background-color: #FFFAFA;
  }
  
  .unread-mail {
    background-color: #FFFFFF;
  }
        </style>
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>